<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/styleFormulaire.css">
    <title><%= title %></title>
</head>
<body>
    <header class="header">
        <ul class="menu">
            <div class="agenda">
                <h1 class="title-header">Agenda</h1>
            </div>
            <div class="compte">
                <li><h2 class="email"><%= userEmailConnected %></h2></li>
                <li>
                    <form action = "/users/compte" method="GET">
                        <button class="button-header" type="submit"> Modifier votre compte </button>
                    </form>
                </li>
                <li>                 
                    <form id="logoutForm" action="/users/logout" method="GET">
                        <button class="button-header" type="submit" id="logoutBtn">Déconnexion</button>
                    </form>
                </li>
            </div>
        </ul>
    </header>
    
    <div class="container">
    <h1><%= title %></h1>
        <form action="/agenda/<%=agendaId%>/modifier" method="POST"> <!-- L'URL correspond à la route POST -->
            <label for="nom">Nom de l'agenda:</label>
            <input type="text" id="nom" value="<%=agenda.nom%>" name="nom" required><br><br>

            <label for="description">Description:</label>
            <textarea style="font-family: inherit;font-size: medium" id="description" name="description" required> <%=agenda.description%> </textarea><br><br>

            <div style="display: none;">
                <label for="createurEmail">Email du créateur:</label>
                <input type="email" id="createurEmail" name="createurEmail" value="<%= userEmailConnected %>" style="background-color: lightgrey;" readonly required> <br><br>
            </div>

            <div>
                <button type="submit">Appliquer les modifications</button>
                <br><br>
                <button type="button" onclick="window.location.href='/agenda';"> Annuler </button>               
            </div>
        </form>
    </div>
    <div>
        <footer class="footer2">
            <div class="footer-content">
                <p>&copy; 2024 Agenda. Tous droits réservés.</p>
            </div>
        </footer>
    </div>
</body>
</html>
