<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylePagePrincipale.css">
    <title>Menu Principale</title>
    
</head>
<body>
    <header class="header">
        <ul class="menu">
            <div class="agenda">
                <h1>Agenda</h1>
            </div>
            <div class="compte">
                <li><h2 class="email"><%= userEmailConnected %></h2></li>
                <li>
                    <form action = "/users/compte" method="GET">
                        <button class="button-header" type="submit"> Modifier votre compte </button>
                    </form>
                </li>
                <li>                 
                    <form id="logoutForm" action="/users/logout" method="GET">
                        <button class="button-header" type="submit" id="logoutBtn">Déconnexion</button>
                    </form>
                </li>
            </div>
        </ul>
    </header>

    <hr>

    <div class="all-agenda">
        <div class="agenda-section">
            <div class="mes-agendas">
                <h2 class="mesagendas">Mes Agendas</h2>
                    <form action="/agenda/creer" method="GET">
                        <button class="ajouter-bouton" type="submit">Ajouter un agenda</button>
                    </form>
            </div>
            <% if (agendasCrees.length > 0) { %>
                <ul class="agendaListUL">
                    <% agendasCrees.forEach(agenda => { %>
                        <li class="agendaList">
                            <strong>Nom de l'agenda :</strong> <%= agenda.nom %><br>
                            <strong>Description :</strong> <%= agenda.description %><br>
                            <!--<strong>Email du créateur :</strong> <%= //agenda.createurEmail %><br>-->
                            
                            <!-- Formulaire de partage -->
                            <div class="partage-form">
                                <form action="/agenda/<%= agenda.id %>/partager" method="POST">
                                    <input type="email" name="emailPartage" placeholder="Email de l'utilisateur" required>
                                    <input type="hidden" name="userEmailConnected" value="<%= userEmailConnected %>">
                                    <button type="submit">Partager</button>
                                </form>
                                <% if (typeof error !== 'undefined' && error) { %>
                                    <div class="error-message">
                                        <%= error %>
                                    </div>
                                <% } %>
                                <br>
                                <div class="buttonaction">
                                    <form action="/rendezvous/<%= agenda.id %>" method="GET">
                                        <button class="ajouter-bouton" >Voir</button>
                                    </form>
                                    <form action="/agenda/<%= agenda.id %>/modifier" method="GET">
                                        <button>Modifier</button>
                                    </form>
                                    <form action="/agenda/supprimer/<%= agenda._id %>" method="GET">
                                        <button>Supprimer</button>
                                    </form>
                                    <form action="/agenda/export/<%= agenda._id %>" method="GET">
                                        <button>Exporter</button>
                                    </form>
                                </div>
                                
                                <!-- Liste des partages -->
                                <% if(agenda.partages && agenda.partages.length > 0) { %>
                                    <h4>Partagé avec :</h4>
                                    <div class="partager-avec">
                                        <ul>
                                            <% agenda.partages.forEach(partage => { %>
                                                <div>
                                                <li>
                                                    <div>
                                                        <%= partage.email %>
                                                    </div>
                                                    <div>
                                                    <form action="/agenda/<%= agenda.id %>/annuler-partage" method="POST">
                                                        <input type="hidden" name="emailPartage" value="<%= partage.email %>">
                                                        <input type="hidden" name="userEmailConnected" value="<%= userEmailConnected %>">
                                                        <button type="submit">Annuler le partage</button>
                                                    </form>
                                                    <div>
                                                </li>
                                                <div>
                                            <% }) %>
                                        </ul>
                                    </div>
                                <% } %>
                            </div>

                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </div>

        <div class="agenda-partage-section">
            <h2>Agendas partagés avec moi</h2>
            <% if (agendasPartages.length > 0) { %>
                <ul class="agendaListUL">
                    <% agendasPartages.forEach(agenda => { %>
                        <li class="agendaList">
                            <strong>Nom de l'agenda :</strong> <%= agenda.nom %><br>
                            <strong>Description :</strong> <%= agenda.description %><br>
                            <strong>Créateur :</strong> <%= agenda.createurEmail %><br>
                            <div class="bouton-agenda-action">
                                <form action="/rendezvous/<%= agenda.id %>" method="GET">
                                    <button>Voir</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Aucun agenda partagé.</p>
            <% } %>
        </div>
    </div>
</body>
</html>