<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/styleRegister.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <h2></h2>
        <form action="/users/compte" method="POST">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" value="<%=userData.name%>"required>
            <br><br>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" value="<%= userData.email%>"required>
            <br><br>
            <div>
                <button>Appliquer les modifications</button>
            </div>
        </form>
        <form action="/users/compte/bloquerutilisateurs" method="POST">
            <label for="emails">Emails à bloquer (Séparés par des virgules et sans espaces):</label>
            <br>
            <input type="text" id="emails" name="emails">
            <br><br>
            <div>
                <button>Bloquer Mails</button>
            </div>
            <%if(typeof noninsert !== 'undefined' && noninsert.length > 0){%>
                <div class="error-message">
                        <span>Ces mails n'ont pas pu être bloqué car inexistant ou déjà bloqué :</span>
                        <br>
                        <% for(i = 0; i < noninsert.length ; i++){ %>
                            <%=noninsert[i]%>
                            <br>
                        <% } %>
                </div>
            <% } %>
        </form>
        <br>
        <a href="/agenda"><button>Retour</button></a>
    </div>
</body>
</html>