<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div style="display: contents; gap: 50px; display: inline-grid; gap: 100px;">
        <div>
            <h1 style="color:white; font-family: sans-serif;">
                "Organisez votre vie facilement : des agendas sur mesure, créés juste pour vous, avec notre application Agenda"
            </h1>
        </div>
        <div class="container-home-page" style="place-self: center;">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <form action="/users/login" method="GET">
                <button type="submit">Se connecter</button>
            </form>
            <form action="/users/register" method="GET">
                <button type="submit">Créer un compte</button>
            </form>
        </div>
    </div>
</body>
</html>
<%- include('partials/footer') %>