<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/stylesheets/styleAgenda.css">
    <title><%= mois + " " + date.getFullYear() %></title>
</head>
<body>
    <div>
        <header class="header">
            <ul class="menu">
                <div class="agenda">
                </div>
                <div class="info">
                    <li><h2>Nom de l'agenda : <%= agenda.nom %></h2></li>
                    <li><h4>Description : <%= agenda.description %></h4></li>
                    <li><h4>Créateur de cet agenda : <%= agenda.createurEmail %></h4></li>
                </div>
            </ul>
        </header>
    </div>
    <hr>
        <div class="rendezvous">
            <div class="up-mes-agendas">
                <!-- tester ici pour afficher les parametres ? dans url -->
                <!--<h3><%=//"test " + JSON.stringify(req.query) %></h3> -->
                <div>
                    <h4> Rechercher/Filter les rendez-vous</h4>
                    <form id="agendafiltreForm" method="GET" action="/rendezvous/<%=agenda.id%>">
                        <!-- Ne pas changer la date si on soumet ce formulaire -->
                        <input type="hidden" name="semaine" value="<%= semaine %>" />
                        <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                        <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                        <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                        <label for="nomFiltre"> Nom : </label>
                        <input type="text" id="nomFiltre" name="nomFiltre" value="<%=nomFiltre%>"> 
                        <br><br>
                        <label for="emailFiltre"> Créateur : </label>
                        <input type="text" id="emailFiltre" name="emailFiltre" value="<%=emailFiltre%>"> 
                        <br><br>
                        <button type="submit"> Appliquer </button>
                    </form>
                    <hr>
                </div>

                <form id="checkboxForm" method="GET" action="/rendezvous/<%=agenda.id%>" >
                    <!-- Ne pas changer la date si on soumet ce formulaire -->
                    <input type="hidden" name="semaine" value="<%= semaine %>" />
                    <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                    <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                    <h4> Mes agendas </h4>
                    <div class="mes-agendas">
                        <%
                        // Parcours la liste des agendas dans la bdd
                        agendas.forEach(agendaElement => {
                            if(!(agendaElement.id == agenda.id)){ %>
                                    <input type="checkbox"  class="checkbox-couleur-<%=agendaElement.couleur%>" value="<%=agendaElement.id%>" id="<%=agendaElement.nom%>" name="<%=agendaElement.nom%>"
                                    <% if(req.query[agendaElement.nom]){ %> checked <%} %> >
                                    <label for="<%=agendaElement.nom%>" ><%=agendaElement.nom%></label>
                            <br>
                            <%}
                        });
                        %>
                    </div>
                    <h4> Agendas partagés avec moi </h4>
                    <div class="mes-agendas">
                        <%
                        // Parcours la liste des agendas dans la bdd
                        agendasPartages.forEach(agendaElement => {
                            if(!(agendaElement.id == agenda.id)){ %>
                                    <input type="checkbox" class="checkbox-couleur-<%=agendaElement.couleur%>" value="<%=agendaElement.id%>" id="<%=agendaElement.nom%>" name="<%=agendaElement.nom%>"
                                    <% if(req.query[agendaElement.nom]){ %> checked <%} %> >
                                    <label for="<%=agendaElement.nom%>" ><%=agendaElement.nom%></label>
                                    <br>
                            <%}
                            });
                        %>
                    </div>
                    <br>
                    <% if(nomFiltre) { %> <input type="hidden" name="nomFiltre" value="<%=nomFiltre%>"> <% } %>
                    <% if(emailFiltre) { %> <input type="hidden" name="emailFiltre" value="<%=emailFiltre%>"> <% } %>
                    <button type="submit" style="display:none"> Mettre à jour affichage </button>
                </form>
                <hr>
            </div>
            <div class="right-rendezvous">
                <div class="header-right-rednez-vous">
                <!-- Navigation des semaines/mois/annee -->
                    <h1><%= mois + " " + date.getFullYear() %></h1>
                    <div class="action-rendez-vous">
                        <form action="/rendezvous/<%= agenda.id %>/creer" method ="GET">
                            <button>Ajouter un rendez-vous</button>
                        </form>
                        <form id="chooseWeekDate" method="GET" action="/rendezvous/<%=agenda.id%>">
                            <input type="week" name="weekDate" id="chooseWeekDateInput" required>
                            <button type="submit"> Changer de semaine </button>
                        </form>
                        <form action="/agenda" method ="GET">
                            <button>Fermer cet agenda</button>
                        </form>
                    </div>
                    <br>
                    <div class="nav-buttons">
                        <% 
                            let jour = ((semaine - 1) * 7 - caseDepart) + 1;
                            let jourParametre2 = caseDepart;
                            if(jour <= 0){
                                jour = jour + caseDepart;
                                jourParametre2 = caseDepart;
                            }else{
                                jourParametre2 = 0;
                            }
                            let semainePrecedente;
                            let moisPrecedent = moisParametre;
                            let anneePrecedent = anneeParametre;
                            if (semaine > 1) {
                                semainePrecedente = semaine - 1;
                            } else {
                                semainePrecedente = 5;
                                moisPrecedent = moisParametre - 1;
                                if (moisPrecedent < 0) {
                                    moisPrecedent = 11;
                                    anneePrecedent = anneeParametre - 1;
                                }
                            }
                        %>
                        <form id="semainePrecedente" method="GET" action="/rendezvous/<%=agenda.id%>" >
                            <input type="hidden" name="semaine" value="<%= semainePrecedente %>" />
                            <input type="hidden" name="moisParametre" value="<%= moisPrecedent %>" />
                            <input type="hidden" name="anneeParametre" value="<%= anneePrecedent %>" />
                            <!-- pour permettre de faire le lien entre form semaine et form checkbox des agenda et form recherche/filtre -->
                            <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                            <% if(nomFiltre) { %> <input type="hidden" name="nomFiltre" value="<%=nomFiltre%>"> <% } %>
                            <% if(emailFiltre) { %> <input type="hidden" name="emailFiltre" value="<%=emailFiltre%>"> <% } %>
                            <button class="nav" type="submit">Semaine Précédente</button>
                        </form>
                        <form id="jour" method="GET" action="/rendezvous/<%=agenda.id%>/jour">
                            <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                            <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                            <input type="hidden" name="semaine" value="<%= semaine %>" />
                            <input type="hidden" name="numJourActuel" value="<%=jour%>"/>
                            <input type="hidden" name="jourParametre2" value="<%=jourParametre2%>"/>
                            <button class="nav" type="submit">Vue Journalière</button>
                        </form>
                        <form id="mois" method="GET" action="/rendezvous/<%=agenda.id%>/mois">
                            <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                            <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                            <input type="hidden" name="jourParametre2" value ="<%=caseDepart%>"/>
                            <button class="nav" type="submit">Vue Mensuelle</button>
                        </form>
                        <%
                            let semaineSuivante;
                            let moisSuivant = moisParametre;
                            let anneeSuivant = anneeParametre;
                            if (semaine < 5) {
                                semaineSuivante = semaine + 1;
                            } else {
                                semaineSuivante = 1;
                                moisSuivant = moisParametre + 1;
                                if (moisSuivant > 11) {
                                    moisSuivant = 0; 
                                    anneeSuivant = anneeParametre + 1;
                                }
                            }
                        %>
                        <form id="semaineSuivante" method="GET" action="/rendezvous/<%=agenda.id%>" >
                            <input type="hidden" name="semaine" value="<%= semaineSuivante %>" />
                            <input type="hidden" name="moisParametre" value="<%= moisSuivant %>" />
                            <input type="hidden" name="anneeParametre" value="<%= anneeSuivant %>" />
                            <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                            <% if(nomFiltre) { %> <input type="hidden" name="nomFiltre" value="<%=nomFiltre%>"> <% } %>
                            <% if(emailFiltre) { %> <input type="hidden" name="emailFiltre" value="<%=emailFiltre%>"> <% } %>
                            <button class="nav" type="submit">Semaine Suivante</button>
                        </form>
                    </div>
                </div>
                <div class="calendar-grid">
                    <div class="day-label">Horaires (GMT+01)</div>
                    <div class="day-label">Lun.</div>
                    <div class="day-label">Mar.</div>
                    <div class="day-label">Mer.</div>
                    <div class="day-label">Jeu.</div>
                    <div class="day-label">Ven.</div>
                    <div class="day-label">Sam.</div>
                    <div class="day-label">Dim.</div>

                    <!-- Les horaires de 00h à 23h -->
                    <% 
                        for (let hour = 0; hour < 24; hour++) { 
                    %>
                        <div class="hour-label"><%= (hour) + "h" %></div>
                        <% 
                            const premierJourAffichage = (semaine - 1) * 7 - caseDepart;
                            %><%
                            for (let i = 0; i < 7; i++) {
                                const jour = premierJourAffichage + i;
                        %>  
                                <% if (jour >= 0 && jour < nombreJours) { %>
                                    <div class="day-cell"> <%= (hour == 0) ? jour + 1 : "" %> 
                                        <% 
                                        // Parcours la liste des rendez-vous et affiche leurs attributs
                                        rendezVousList.forEach(rendezvous => { 
                                            %>                                        
                                                <% if(jour + 1 == rendezvous.dateRendezVous.getDate()){
                                                    if(hour == rendezvous.dateRendezVous.getHours()){ %>
                                                        <% let tailleRdvCell = -105 * (rendezvous.duree.heures-1) %>
                                                        <% let margeminutes = Math.floor((rendezvous.dateRendezVous.getMinutes() * 100) / 60) %>
                                                        <% let dureeMinutes = Math.floor((rendezvous.duree.minutes * 100) / 60) %>
                                                        <div style="cursor: pointer; margin-bottom:<%= (tailleRdvCell - dureeMinutes) %>px; top: <%=margeminutes%>px"
                                                            class="rendez-vous-cell<%=rendezvous.couleur%> <%= rendezvous.estRecurrent ? 'recurring' : '' %>"
                                                            onclick="window.location.href='/rendezvous/<%=agenda.id%>/informations/<%=rendezvous.id%>'">
                                                            <div class="nom-rendez-vous">
                                                            <%="Nom :" +  rendezvous.nom %>
                                                            </div>
                                                            <%="Heure :" +  rendezvous.dateRendezVous.getHours() + "h" + rendezvous.dateRendezVous.getMinutes() + "min"%>
                                                            <br>
                                                            <%="Durée :" +  rendezvous.duree.heures + "h" + rendezvous.duree.minutes + "min"%>
                                                            <% if(rendezvous.estRecurrent) { %>
                                                                <br>
                                                                <span class="recurrence-info">
                                                                    <%= rendezvous.typeRecurrence === 'quotidien' ? '(Quotidien)' :
                                                                        rendezvous.typeRecurrence === 'semaine' ? '(Hebdomadaire)' :
                                                                        rendezvous.typeRecurrence === 'mensuel' ? '(Mensuel)' : '' %>
                                                                </span>
                                                            <% } %>
                                                        </div>
                                                    <%}else{%>
                                                        <!--IGNORER CETTE PARTIE -->
                                                        <div style="visibility:hidden; pointer-events:none;"
                                                            class="rendez-vous-cell<%=rendezvous.couleur%> <%= rendezvous.estRecurrent ? 'recurring' : '' %>"
                                                            onclick="window.location.href='/rendezvous/<%=agenda.id%>/informations/<%=rendezvous.id%>'">
                                                            <div class="nom-rendez-vous"><%="Nom :" +  rendezvous.nom %></div>
                                                            <%="Heure :" +  rendezvous.dateRendezVous.getHours() + "h" + rendezvous.dateRendezVous.getMinutes() + "min"%><br>
                                                        </div>
                                                        <!--IGNORER CETTE PARTIE -->
                                                    <%}%>
                                                <%}%> 
                                            <% 
                                            });
                                        %>
                                    </div> 
                                <% } else { %>
                                    <div class="day-cell-hidden"></div>
                                <% } %>
                        <% 
                            }%> <%
                        %>
                    <% 
                        } 
                    %>
                </div>
            </div>
        </div>

        <script>
            const checkboxes = document.querySelectorAll('#checkboxForm input[type="checkbox"]');
            const form = document.getElementById('checkboxForm');

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => {
                    form.submit();
                });
            });
        </script>
    
</body>
</html>
