<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/rendezvous/<%=agendaId%>/modifier/<%=rendezvous.id%>" method="POST">

        <label for="nom">Nom du rendez-vous : </label>
        <input type="text" id="nom" name="nom" value="<%=rendezvous.nom%>"required>
        <br><br>


        <label for="description">Description :</label>
        <input type="description" id="description" name="description" value="<%=rendezvous.description%>"required>
        <br><br>

        <label for="dateRendezVous">Date du rendez-vous :</label>
        <input type="datetime-local" id="dateRendezVous" name="dateRendezVous" value="<%=dateRendezVousFormatted%>" required>
        <br><br>

        <label for="dureeHeures">Durée (heures) :</label>
        <input type="number" id="dureeHeures" name="dureeHeures" min="0" max="8" value="<%=rendezvous.duree.heures%>" required>

        <label for="dureeMinutes">(minutes) :</label>
        <input type="number" id="dureeMinutes" name="dureeMinutes" min="0" max="59" value="<%=rendezvous.duree.minutes%>" required>
        <br><br>

        <label for="couleur">Couleur :</label>
        <select id="couleur" name="couleur">
            <option value="">Sélectionnez une couleur</option>
            <option value="0">Rouge</option>
            <option value="1">Bleu</option>
            <option value="2">Vert</option>
            <option value="3">Jaune</option>
            <option value="4">Noir</option>
            <option value="5">Blanc</option>
            <option value="6">Violet</option>
            <option value="7">Orange</option>
        </select>
        <br><br>
        <div>
            <button>Appliquer les modifications</button>
        </div>
    </form>
    
    <form action="/rendezvous/<%=agendaId%>/supprimer/<%=rendezvous.id%>" method="POST">
            <button>Supprimer le Rendez-Vous</button>
    </form>

    
    <br>
    <a href="/rendezvous/<%=agendaId%>"><button>Retour</button></a>

</body>
</html>