<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form id="modifierRendezVousForm" action="/rendezvous/<%=agendaId%>/modifier/<%=rendezvous.id%>" method="POST">

        <label for="nom">Nom du rendez-vous : </label>
        <input type="text" id="nom" name="nom" value="<%=rendezvous.nom%>"required>
        <br><br>


        <label for="description">Description :</label>
        <input type="description" id="description" name="description" value="<%=rendezvous.description%>"required>
        <br><br>

        <label for="dateRendezVous">Date du rendez-vous :</label>
        <input type="datetime-local" id="dateRendezVous" name="dateRendezVous" value="<%=dateRendezVousFormatted%>" required>
        <br><br>

        <label for="dureeHeures">Durée (heures) :</label>
        <input type="number" id="dureeHeures" name="dureeHeures" min="0" value="<%=rendezvous.duree.heures%>" required>

        <label for="dureeMinutes">(minutes) :</label>
        <input type="number" id="dureeMinutes" name="dureeMinutes" min="0" value="<%=rendezvous.duree.minutes%>" required>

        <label for="couleur" hidden>Couleur :</label>
        <input id="couleur" type="number" name="couleur" value="<%=rendezvous.couleur%>" hidden>     </select>
        <br><br>
        
        <div>
            <button>Appliquer les modifications</button>
        </div>
    </form>

    <!-- <% if (rendezvous.estRecurrent) { %>
        <div>
          <input type="checkbox" id="modifierTousLesRecurrents" name="modifierTousLesRecurrents">
          <label for="modifierTousLesRecurrents">Modifier tous les rendez-vous récurrents suivants</label>
        </div>
      <% } %> -->
    
    <form action="/rendezvous/<%=agendaId%>/supprimer/<%=rendezvous.id%>" method="POST">
            <button>Supprimer le Rendez-Vous</button>
    </form>

    
    <br>
    <a href="/rendezvous/<%=agendaId%>"><button>Retour</button></a>

    <div id="error-message" style="color: red; display: none;">
        La durée du rendez-vous doit être d'au moins 30 minutes.
    </div>
    
    <script>
         // Fonction pour ajuster la durée maximale
         const dateInput = document.getElementById("dateRendezVous");
        const heuresInput = document.getElementById("dureeHeures");
        const minutesInput = document.getElementById("dureeMinutes");


        const ajusterDureeMaximale = (date, heure, minutes) => {
            if(date){
                heuresInput.value = 0;
                minutesInput.value = 0;
            }
            // Extraire l'heure et les minutes de l'heure de début
            const dateTime = new Date(dateInput.value);
            const startHour = dateTime.getHours();
            const startMinutes = dateTime.getMinutes();
            // Calcul du temps restant avant minuit (23h59)
            const maxMinutesBeforeMidnight = (23 - startHour) * 60 + (60 - startMinutes);
            // Calculer les limites pour les heures et les minutes
            let maxHours;
            maxHours = Math.floor(maxMinutesBeforeMidnight / 60); // Heure maximale
            let maxMinutes = (maxMinutesBeforeMidnight % 60) // Minutes restantes
            if(parseInt(maxHours) - parseInt(heuresInput.value) > 0){
                maxMinutes = 60
            }else{
                if(parseInt(maxHours) == parseInt(heuresInput.value)){
                    minutesInput.value = maxMinutes
                }
            }
            if(minutesInput.value >= 60){
                heuresInput.value = parseInt(heuresInput.value) + 1
                minutesInput.value = 0
            }
            heuresInput.max = maxHours;
            minutesInput.max = maxMinutes;
        };

        heuresInput.addEventListener("change", () => { ajusterDureeMaximale(false, true, false); });
        minutesInput.addEventListener("change", () => { ajusterDureeMaximale(false, false, true);});
        dateInput.addEventListener("change", () =>{ ajusterDureeMaximale(true, false, false);});
        
        // gestion de la soumission du formulaire
        document.getElementById('modifierRendezVousForm').addEventListener('submit', function(event) {
            const heures = parseInt(heuresInput.value);
            const minutes = parseInt(minutesInput.value);
            const totalMinutes = heures * 60 + minutes;  // calcul de la durée totale en minutes

            // vrrifier si la durée du rdv est inferieure à 15 minutes
            if (totalMinutes < 30) {
                document.getElementById('error-message').style.display = 'block'; // Afficher le message
                event.preventDefault(); // empecher la soumission du formulaire
            }
        });

    </script>

</body>
</html>
