<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/rendezvous/<%=agendaId%>/supprimer/<%=rendezvous.id%>" method="POST">

        <label for="nom">Nom du rendez-vous : <%=rendezvous.nom%></label>
        <br>
        <label for="description">Description :<%=rendezvous.description%></label>
        <br>
        <label for="dateRendezVous">Date du rendez-vous :<%=dateRendezVousFormatted%></label>
        <br>
        <label for="dureeRendezVous">Durée :<%=rendezvous.duree.heures + "h:" + rendezvous.duree.minutes + "min" %></label>
        <br>

        <!--<label for="participants">Participants:<%=//rendezvous.participants%></label>-->

        <label for="createurEmail">Createur :<%=rendezvous.createurEmail%></label>
        <br>
        <div>
            <button>Supprimer le Rendez-Vous</button>
        </div>
    </form>
    
    <a href="/rendezvous/<%=agendaId%>"><button>Modifier le Rendez-Vous</button></a>

    <a href="/rendezvous/<%=agendaId%>"><button>Retour</button></a>

</body>
</html>