<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleAgendaJournalier.css">
    <title><%= mois + " " + date.getFullYear() %></title>
</head>
<body>
    <div>
        <header class="header">
            <ul class="menu">
                <div class="agenda">
                </div>
                <div class="info">
                    <li><h2>Nom de l'agenda : <%= agenda.nom %></h2></li>
                    <li><h4>Description : <%= agenda.description %></h4></li>
                    <li><h4>Créateur de cet agenda : <%= agenda.createurEmail %></h4></li>
                </div>
            </ul>
        </header>
    </div>
    <hr>
    <div class="rendezvous">
        <div class="up-mes-agendas">
            <div>
                <h4> Rechercher/Filter les rendez-vous</h4>
                    <form id="agendafiltreForm" method="GET" action="/rendezvous/<%=agenda.id%>/jour">
                        <!-- Ne pas changer la date si on soumet ce formulaire -->
                        <input type="hidden" name="semaine" value="<%= semaine %>" />
                        <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                        <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                        <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                        <label for="nomFiltre"> Nom : </label>
                        <input type="text" id="nomFiltre" name="nomFiltre" value="<%=nomFiltre%>"> 
                        <br><br>
                        <label for="emailFiltre"> Créateur : </label>
                        <input type="text" id="emailFiltre" name="emailFiltre" value="<%=emailFiltre%>"> 
                        <br><br>
                        <button type="submit"> Appliquer </button>
                    </form>
                <hr>
            </div>
            <form id="checkboxForm" method="GET" action="/rendezvous/<%=agenda.id%>/jour" >
                <!-- Ne pas changer la date si on soumet ce formulaire -->
                <input type="hidden" name="semaine" value="<%= semaine %>" />
                <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                <h4> Mes agendas </h4>
                <div class="mes-agendas">
                    <%
                    // Parcours la liste des agendas dans la bdd
                    agendas.forEach(agendaElement => {
                        if(!(agendaElement.id == agenda.id)){ %>
                            <input type="checkbox" class="checkbox-couleur-<%=agendaElement.couleur%>" value="<%=agendaElement.id%>" id="<%=agendaElement.nom%>" name="<%=agendaElement.nom%>"
                            <% if(req.query[agendaElement.nom]){ %> checked <%} %> >
                            <label for="<%=agendaElement.nom%>" ><%=agendaElement.nom%></label>
                            <br>
                        <%}
                        });
                    %>
                </div>
                <h4> Agendas partagés avec moi </h4>
                    <div class="mes-agendas">
                        <%
                        // Parcours la liste des agendas dans la bdd
                        agendasPartages.forEach(agendaElement => {
                            if(!(agendaElement.id == agenda.id)){ %>
                                <input type="checkbox" class="checkbox-couleur-<%=agendaElement.couleur%>" value="<%=agendaElement.id%>" id="<%=agendaElement.nom%>" name="<%=agendaElement.nom%>"
                                <% if(req.query[agendaElement.nom]){ %> checked <%} %> >
                                <label for="<%=agendaElement.nom%>" ><%=agendaElement.nom%></label>
                                <br>
                            <%}
                            });
                        %>
                    </div>
                <br>
                <% if(nomFiltre) { %> <input type="hidden" name="nomFiltre" value="<%=nomFiltre%>"> <% } %>
                <% if(emailFiltre) { %> <input type="hidden" name="emailFiltre" value="<%=emailFiltre%>"> <% } %>
                <button type="submit" style="display:none"> Mettre à jour affichage </button>
            </form>
            <hr>
        </div>
        <div class="right-rendezvous">
            <div class="header-right-rednez-vous">
                <h1><%= mois + " " + date.getFullYear() %></h1>
                <div class="action-rendez-vous">
                    <form action="/rendezvous/<%= agenda.id %>/creer" method ="GET">
                        <button>Ajouter un rendez-vous</button>
                    </form>
                    <form id="chooseDayDate" method="GET" action="/rendezvous/<%=agenda.id%>/jour">
                        <input type="date" name="dayDate" id="chooseDayDateInput" required>
                        <button type="submit"> Changer de jour </button>
                    </form>
                    <form action="/agenda" method ="GET">
                        <button>Fermer cet agenda</button>
                    </form>
                </div>
            <br>
        <!-- Navigation des semaines/mois/annee -->
        <div class="nav-buttons">
            <%
                let jourPrecedent;
                let numJourActuel2 = numJourActuel;
                let semainePrecedente;
                let numJourActuelPrecedent;
                let moisPrecedent = moisParametre;
                let anneePrecedent = anneeParametre;
                
                if(numJourActuel < 2){
                    numJourActuelPrecedent = nombreJours2;
                }else {
                    numJourActuelPrecedent = numJourActuel - 1;
                }

                let numJourPrecedent = numJourActuelPrecedent;

                if (jourParametre2 > 0){
                    jourPrecedent = jourParametre2 - 1;
                    semainePrecedente = semaine;
                } else {
                    jourPrecedent = 6;
                    if (semaine > 1) {
                        semainePrecedente = semaine - 1;
                    } else {
                        semainePrecedente = 5;
                        moisPrecedent = moisParametre - 1;
                        if (moisPrecedent < 0) {
                            moisPrecedent = 11;
                            anneePrecedent = anneeParametre - 1;
                        }
                    }
                }
            %>
            <form id="jourPrecedent" method="GET" action="/rendezvous/<%=agenda.id%>/jour" >
                <input type="hidden" name="jourParametre2" value="<%=jourPrecedent%>"/>
                <input type="hidden" name="semaine" value="<%= semainePrecedente %>" />
                <input type="hidden" name="moisParametre" value="<%= moisPrecedent %>" />
                <input type="hidden" name="anneeParametre" value="<%= anneePrecedent %>" />
                <input type="hidden" name="numJourActuel" value="<%= numJourPrecedent%>"/>
                <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                <% if(nomFiltre) { %> <input type="hidden" name="nomFiltre" value="<%=nomFiltre%>"> <% } %>
                <% if(emailFiltre) { %> <input type="hidden" name="emailFiltre" value="<%=emailFiltre%>"> <% } %>
                <button class="nav" type="submit">Jour Précédent</button>
            </form>

            <form id="hebdomadaire" method="GET" action="/rendezvous/<%=agenda.id%>" >
                <input type="hidden" name="semaine" value="<%= semaine %>" />
                <input type="hidden" name="moisParametre" value="<%= moisParametre %>" />
                <input type="hidden" name="anneeParametre" value="<%= anneeParametre %>" />
                <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                <button class="nav" type="submit">Vue Hebdomadaire</button>
            </form>

            <form id="mois" method="GET" action="/rendezvous/<%=agenda.id%>/mois">
                <input type="hidden" name="jourParametre2" value ="<%=caseDepart%>"/>
                <button class="nav" type="submit">Vue Mensuelle</button>
            </form>

            <%
                let jourSuivant;
                let semaineSuivante;
                let numJourActuelSuivant;

                if(numJourActuel > nombreJours){
                    numJourActuel = 0;
                }
                numJourActuelSuivant = numJourActuel + 1;

                let numJourSuivant = numJourActuelSuivant;
                let moisSuivant = moisParametre;
                let anneeSuivant = anneeParametre;
                
                if (jourParametre2 < 6){

                    jourSuivant = jourParametre2 + 1;
                    semaineSuivante = semaine;

                } else{

                    jourSuivant = 0;
                    if (semaine < 5) {
                        semaineSuivante = semaine + 1;
                    } else {
                        semaineSuivante = 1;
                        moisSuivant = moisParametre + 1;
                        if (moisSuivant > 11) {
                            moisSuivant = 0; 
                            anneeSuivant = anneeParametre + 1;
                        }
                    }
                }
            %>
            <form id="jourSuivant" method="GET" action="/rendezvous/<%=agenda.id%>/jour" >
                <input type="hidden" name="jourParametre2" value="<%=jourSuivant%>"/>
                <input type="hidden" name="semaine" value="<%= semaineSuivante %>" />
                <input type="hidden" name="moisParametre" value="<%= moisSuivant %>" />
                <input type="hidden" name="anneeParametre" value="<%= anneeSuivant %>" />
                <input type="hidden" name="numJourActuel" value="<%= numJourSuivant%>"/>
                <% agendas.forEach(agendaElement => { if(!(agendaElement.id == agenda.id)){ %> <input type="checkbox" style="display: none;" value="<%=agendaElement.id%>" name="<%=agendaElement.nom%>" <% if(req.query[agendaElement.nom]){ %> checked <%} %> ><%}});%>
                <% if(nomFiltre) { %> <input type="hidden" name="nomFiltre" value="<%=nomFiltre%>"> <% } %>
                <% if(emailFiltre) { %> <input type="hidden" name="emailFiltre" value="<%=emailFiltre%>"> <% } %>    
                <button class="nav" type="submit">Jour Suivant</button>
            </form>
            </div>
        </div>
        <div class="calendar-grid">
            <%let journom;
            switch (jourParametre2){
                case 0:
                    journom = "Lundi";
                    break
                case 1:
                    journom = "Mardi";
                    break
                case 2:
                    journom = "Mercredi";
                    break
                case 3:
                    journom = "Jeudi";
                    break
                case 4:
                    journom = "Vendredi";
                    break
                case 5:
                    journom = "Samedi";
                    break
                case 6:
                    journom = "Dimanche";
                    break
            }
            %>
            <div class="day-label">Horaires (GMT+01)</div>
            <div class="day-label"><%=journom%></div>

            <!-- Les horaires de 00h à 23h -->
            <% 
                for (let hour = 0; hour < 24; hour++) { 
            %>
                <div class="day-label"><%= (hour) + "h" %></div>

                            <div class="day-cell"> <%= (hour == 0) ? numJourActuel2 : "" %> 
                                <% 
                                // Parcours la liste des rendez-vous et affiche leurs attributs
                                rendezVousList.forEach(rendezvous => { 
                                    %>                                                          
                                        <% if(numJourActuel == rendezvous.dateRendezVous.getDate()){
                                            if(hour == rendezvous.dateRendezVous.getHours()){ %>
                                                <% let tailleRdvCell = -105 * (rendezvous.duree.heures-1) %>
                                                <% let margeminutes = Math.floor((rendezvous.dateRendezVous.getMinutes() * 100) / 60) %>
                                                <% let dureeMinutes = Math.floor((rendezvous.duree.minutes * 100) / 60) %>
                                                <div style="cursor: pointer; margin-bottom:<%=(tailleRdvCell- dureeMinutes)%>px; top: <%=margeminutes%>px"
                                                    class="rendez-vous-cell<%=rendezvous.couleur%> <%= rendezvous.estRecurrent ? 'recurring' : '' %>"
                                                    onclick="window.location.href='/rendezvous/<%=agenda.id%>/informations/<%=rendezvous.id%>'">
                                                    <%="Nom :" +  rendezvous.nom%>
                                                    <br>
                                                    <%="Heure :" +  rendezvous.dateRendezVous.getHours() + "h" + rendezvous.dateRendezVous.getMinutes() + "min"%>
                                                    <br>
                                                    <%="Durée :" +  rendezvous.duree.heures + "h" + rendezvous.duree.minutes + "min"%>
                                                    <% if(rendezvous.estRecurrent) { %>
                                                        <br>
                                                        <span class="recurrence-info">
                                                            <%= rendezvous.typeRecurrence === 'quotidien' ? '(Quotidien)' :
                                                                rendezvous.typeRecurrence === 'semaine' ? '(Hebdomadaire)' :
                                                                rendezvous.typeRecurrence === 'mensuel' ? '(Mensuel)' : '' %>
                                                        </span>
                                                    <% } %>
                                                </div>
                                            <%}else{%>
                                                <!--IGNORER CETTE PARTIE -->
                                                <div style="visibility:hidden; pointer-events:none;"
                                                    class="rendez-vous-cell<%=rendezvous.couleur%> <%= rendezvous.estRecurrent ? 'recurring' : '' %>"
                                                    onclick="window.location.href='/rendezvous/<%=agenda.id%>/informations/<%=rendezvous.id%>'">
                                                    <div class="nom-rendez-vous"><%="Nom :" +  rendezvous.nom %></div>
                                                    <%="Heure :" +  rendezvous.dateRendezVous.getHours() + "h" + rendezvous.dateRendezVous.getMinutes() + "min"%><br>
                                                </div>
                                                <!--IGNORER CETTE PARTIE -->
                                            <%}%>
                                        <%}%> 
                                    <% 
                                    });
                                %>
                            </div> 
                <% 
                    } 
                %>
            <% 
            %>
            </div>
        </div>
    </div>

    <script>
        const checkboxes = document.querySelectorAll('#checkboxForm input[type="checkbox"]');
        const form = document.getElementById('checkboxForm');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                form.submit();
            });
        });
    </script>

</body>
</html>